@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
    <br />
    <h1 class="display-4">Bienvenue Sur Votre Page </h1>
    <h1 class="display-4"> De Gestion Des Vols </h1>
</div>
